
<nav class="navbar navbar-default" ng-controller="headerCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <nb-brand-name></nb-brand-name>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
        <li ng-repeat="item in navItems">
            <a  ui-sref="{{item}}">{{item}}</a></li>
       
      </ul>
        
      <ul class="nav navbar-nav navbar-right">
<!--        <li><a href="#"><span class="glyphicon glyphicon-cart"></span> Cart {{productCount}}</a></li>-->
          
          <li><a href="" title="Header" data-toggle="popover" 
         data-placement="bottom" data-content="Content">
         Cart :<badge> {{productCount}}</badge>
         Total:<badge> {{totalPrice|currency :"$"}}</badge>

         </a></li>
        
      </ul>
        
        
    </div>
  </div>
</nav>

























<!--
<nav class="navbar navbar-default" ng-controller="headerCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{brandName}}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li ng-repeat="item in navItems">
            <a  ui-sref="{{item}}">{{item}}</a></li>
       
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li><a href="">Cart {{productCount}} </a></li>
      </ul>
        
     
    </div>
  </div>
</nav>
-->
